.home__container{
    width: 100%;
    z-index: -1;
}
/* .home__imageDetails{
    color:rgb(183, 0, 0) !important;
    font-size: 28pt;
    font-weight: 800;
    margin-top: -35%;
    margin-left: 60%;
    z-index: 1;
} */
.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgb(94, 93, 93), rgba(0, 0, 0, 0));

}

